// --------------------------------------------------------------------------
// -- You can add your custom CSS here and it will overwrite template styles.
// --------------------------------------------------------------------------
.required {
    &::before {
        content: '*';
        color: #f33;
    }
}
